<div class="container mt-4">
  <div *ngIf="message" class="alert" [ngClass]="{'alert-success': message.type === 'success', 'alert-danger': message.type === 'error'}" role="alert">
    {{ message.text }}
  </div>

  <div *ngFor="let car of cars" class="row align-items-start mb-3 p-3 border rounded shadow-sm bg-white">
    <div class="col-md-4">
      <img class="img-fluid rounded" style="height: 130px; width: 100%; object-fit: cover; cursor: pointer;" 
           [src]="car.processedImg" alt="profile" (click)="openImageModal(car.processedImg)" />
    </div>
    <div class="col-md-8 d-flex flex-column">
      <div class="d-flex flex-column h-100">
        <div class="flex-grow-1">
          <h2 style="cursor: pointer; color: #b83535;">
            {{car.brand}} {{car.name}}
          </h2>
          <p>{{car.description}}</p>
          <hr>
          <h5>Price: <b>${{car.price}}</b> - Color: <b>{{car.color}}</b> - Transmission: <b>{{car.transmission}}</b> - Type: <b>{{car.type}}</b> - Year: <b>{{car.year}}</b></h5>
          <hr>
        </div>
        <div class="d-flex justify-content-end mt-auto">
          <button (click)="deleteCar(car.id)" class="btn btn-danger me-2">Delete</button>
          <button [routerLink]="['/admin/car', car.id]" class="btn btn-warning" id=update>Update</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-image-modal #imageModal></app-image-modal>





  

  
